.git
.github
.cursor
.venv
venv
.env
__pycache__
.pytest_cache
*.egg-info
build
dist
.ipynb_checkpoints
.DS_Store

data/
notebooks/
tests/
overleaf/
reports/latex/main.aux
reports/latex/main.log
reports/latex/main.out
reports/latex/main.toc
reports/latex/main.fls
reports/latex/main.fdb_latexmk
reports/latex/main.synctex.gz

models/checkpoints/
models/*.joblib
models/*_ckpt.keras

streamlit_app/__pycache__
streamlit_app/**/__pycache__
streamlit_app/pages
streamlit_app/Home.py
streamlit_app/speaker_notes
